<h1>Where to Get an Assessment for<br> Substance Use Disorder</h1>

<h3><strong>Bluegrass.org</strong></h3>
<p>1351 Newtown Pike<br>
Lexington, KY 40511<br>
<a href="tel:8592531686">859-253-1686</a><br>
Note:  Please contact Bluegrass.org to schedule an appointment.</p>

<h3><strong>Good Samaritan Hospital-Emergency Room</strong></h3>
<p>310 S. Limestone<br>
Lexington, KY  40508<br>
<a href="tel:8592267070">859-226-7070</a><br>
Note: Good Samaritan provides medical detox depending on assessed need.  Please contact the hospital for more information.</p>

<h3><strong>The Ridge</strong></h3>
<p>3050 Rio Dosa Drive<br>
Lexington, KY 40509<br>
<a href="tel:8592692325">859.269.2325</a><br>
Note: Call the Assessment Department at <a href="tel:8592692325">859.269.2325</a><br> to schedule an initial assessment.  The Ridge accepts Medicaid up to age 21, Medicare, and most private insurances and operates 24 hours a day/365 days a year.</p>

<h3><strong>St. Joe Hospital-Emergency Room</strong></h3>
<p>1 Saint Joseph Drive<br>
Lexington, KY 40504<br>
<a href="tel:8593131000">859.313.1000</a><br>
Note: Upon arrival to the emergency room, inform the person at the admission desk that you need an Our Lady of Peace substance abuse assessment.  At that point an assessor from Our Lady of Peace will be contacted to complete your assessment.  Referral will be based on the outcome of the assessment.</p>

<h3><strong>Saint Joseph East-Emergency Room</strong></h3>
<p>150 North Eagle Creek Drive<br>
Lexington, KY 40509<br>
<a href="tel:8599675000">859.967.5000</a><br>
Note: Upon arrival to the emergency room, inform the person at the admission desk that you need an Our Lady of Peace substance abuse assessment.  At that point an assessor from Our Lady of Peace will be contacted to complete your assessment.  Referral will be based on the outcome of the assessment.</p>

<h3><strong>Saint Joseph Berea-Emergency Room</strong></h3>
<p>305 Estill Street<br>
Berea, KY 40403<br>
<a href="tel:8599863151">859.986.3151</a><br>
Note: Upon arrival to the emergency room, inform the person at the admission desk that you need an Our Lady of Peace substance abuse assessment.  At that point an assessor from Our Lady of Peace will be contacted to complete your assessment.  Referral will be based on the outcome of the assessment.</p>

<h3><strong>Saint Joseph Jessamine-Emergency Room</strong></h3>
<p>1250 Keene Road<br>
Nicholasville, KY 40356<br>
<a href="tel:8598874100">859.887.4100</a><br>
Note:  Upon arrival to the emergency room, inform the person at the admission desk that you need an Our Lady of Peace substance abuse assessment.  At that point an assessor from Our Lady of Peace will be contacted to complete your assessment.  Referral will be based on the outcome of the assessment.</p>

<h3><strong>Stepworks-London</strong></h3>
<p>3825 Marydell Road<br>
London, KY  40741<br>
<a href="tel:8005459031">800-545-9031</a><br>
Note:  Please contact program regarding specific details.</p>

<h3><strong>Stoner Creek</strong></h3>
<p>9 Linville Drive<br>
Paris, KY 40361<br>
<a href="tel:18883944673">1-888-394-4673</a><br>
Note: Stoner Creek provides medical detox.  Please call for an assessment and specifics regarding insurances accepted and specific services provided.</p>

<h3><strong>Trillium Center Corbin</strong></h3>
<p>Baptist Health Corbin<br>
1 Trillium Center<br>
Corbin, KY 40701<br>
<a href="tel:6065235900">606-523-5900</a> or <a href="tel:8003954435">800-395-4435</a>
Note: Please contact program for specifics regarding insurances accepted and services provided.</p>

<h3><strong>Recovery Works-Georgetown</strong></h3>
<p>3107 Cincinnati Road<br>
Georgetown, KY  42701<br>
<a href="tel:5025709313">502-570-9313</a><br>
Note: Please contact program for specifics regarding insurances accepted and services provided.</p>

<h3><strong>Recovery Works-Elizabethtown</strong></h3>
<p>100 Diecks Drive<br>
Elizabethtown, KY  42701<br>
<a href="tel:8889821244">888-982-1244</a><br>
Note: Please contact program for specifics regarding insurances accepted and services provided.</p>

<h3><strong>Recovery Works-Mayfield</strong></h3>
<p>4747 Old Dublin Road<br>
Mayfield, KY  42066<br>
<a href="tel:2706238500">270-623-8500</a><br>
Note: Please contact program for specifics regarding insurances accepted and services provided.</p>
