<h1>Additional Resources</h1>

<h3><strong>SAMHSA&#39;s National Helpline</strong></h3>

<p><a href="http://www.samhsa.gov/find-help/national-helpline">SAMHSA website<a></p>
<p><a href="http://www.samhsa.gov/medication-assisted-treatment/physician-program-data/treatment-physician-locator">SAMHSA Physician Locator</a></p>
<p><a href="tel:18006624357">1-800-662-HELP (4357)<a/></p>
<p><a href="tel:18006629832">1-800-662-9832 (Espa&ntilde;ol)</a>
<p><a href="tel:18004874889">TTY: 1-800-487-4889</a></p>

<p>Also known as, the Treatment Referral Routing Service, this Helpline provides 24-hour free and confidential treatment referral and information about mental and/or substance use disorders, prevention, and recovery in English and Spanish.</p>

<h3><strong>Suicide Prevention Lifeline</strong></h3>

<p><a href="tel:1-800-273-8255">1-800-273-TALK (8255)<a/></p>
<p><a href="tel:1-800-799-4889">TTY: 1-800-799-4889</a></p>

<p><a href="http://www.suicidepreventionlifeline.org">Suicide Prevention Lifelife website</a></p>

<p>This is a 24-hour, toll-free, confidential suicide prevention hotline available to anyone in suicidal crisis or emotional distress. Your call is routed to the nearest crisis center in the national network of more than 150 crisis centers.</p>

<h3><strong>Community Mental Health Centers&rsquo; Crisis Lines</strong></h3>

<p>No matter where you live in Kentucky, there is a community mental health center to serve you.&nbsp; The community mental health centers cover all 120 counties.&nbsp; The link below will provide you with the crisis line for each county in Kentucky.&nbsp; However, if you are experiencing an emergency situation, please call <a href="tel:911">911</a>.</p>

<p><a href="http://dbhdid.ky.gov/crisisnos.aspx">Community Mental Health Centers Crisis Lines website</a></p>

<h3><strong>Alcoholics Anonymous</strong></h3>

<p><a href="tel:1-800-467-8019">1-800-467-8019</a></p>

<p><a href="http://www.aa.org">Alcoholics Anonymous website</a></p>

<h3><strong>Narcotics Anonymous</strong></h3>

<p><a href="tel:1-859-253-4673">1-859-253-4673 (Lexington)</a></p>

<p><a href="http://www.na.org">Narcotics Anonymous website</a></p>


