<h1>Medication Assisted Treatments (MAT)</h1>

<p>MAT combines behavioural therapy and medications to treat substance use disorders.  These medications may include:  buprenorphine (ex: subutex, suboxone, zubsolv), methadone, and naltrexone (Vivitrol).  
These national locators will help you find providers near you:</p>
<ul>
<li><a href="http://naabt.org/" target="new">http://naabt.org</a> (matches prospective patients to providers with availability)</li>
<li><a href="http://www.samhsa.gov/medication-assisted-treatment/physician-program-data/treatment-physician-locator" target="new">http://www.samhsa.gov</a></li>
<li><a href="http://kbml.ky.gov/Documents/Resources%20SA%20Kentucky%20Opioid%20Treatment%20Programs.pdf" target="new">http://kbml.ky.gov</li>
</ul>
