Medical Detoxification Programs
Medical Detox facilities in the Lexington area include:
Good Samaritan Hospital-Emergency Room
310 S. Limestone
Lexington, KY  40508
859-226-7070
Note:  Good Samaritan provides medical detox depending on assessed need.  Please contact the hospital for more information. 
 
The Ridge
3050 Rio Dosa Drive
Lexington, KY 40509
(859) 269-2325
Note:  Call the Assessment Department at 859-269-2325 to schedule an initial assessment.  The Ridge accepts Medicaid up to age 21, Medicare, and most private insurances and operates 24 hours a day/365 days a year. 
 
St. Joe Hospital-Emergency Room
1 Saint Joseph Drive
Lexington, KY 40504
859.313.1000
Note:  Upon arrival to the emergency room, inform the person at the admission desk that you need an Our Lady of Peace substance abuse assessment.  At that point an assessor from Our Lady of Peace will be contacted to complete your assessment.  Referral will be based on the outcome of the assessment.
Saint Joseph East-Emergency Room
150 North Eagle Creek Drive
Lexington, KY 40509
859.967.5000
Note:  Upon arrival to the emergency room, inform the person at the admission desk that you need an Our Lady of Peace substance abuse assessment.  At that point an assessor from Our Lady of Peace will be contacted to complete your assessment.  Referral will be based on the outcome of the assessment.
Saint Joseph Berea-Emergency Room
305 Estill Street
Berea, KY 40403
859.986.3151
Note:  Upon arrival to the emergency room, inform the person at the admission desk that you need an Our Lady of Peace substance abuse assessment.  At that point an assessor from Our Lady of Peace will be contacted to complete your assessment.  Referral will be based on the outcome of the assessment.
 
 
Saint Joseph Jessamine-Emergency Room
1250 Keene Road
Nicholasville, KY 40356
859.887.4100
Note:  Upon arrival to the emergency room, inform the person at the admission desk that you need an Our Lady of Peace substance abuse assessment.  At that point an assessor from Our Lady of Peace will be contacted to complete your assessment.  Referral will be based on the outcome of the assessment.
 
Stepworks-London
3825 Marydell Road
London, KY  40741
800-545-9031
Note:  Please contact program regarding specific details.
 
Stoner Creek
9 Linville Drive
Paris, KY 40361
1-888-394-4673
Note:  Stoner Creek provides medical detox.  Please call for an assessment and specifics regarding insurances accepted and specific services provided.
 
Trillium Center Corbin
Baptist Health Corbin
1 Trillium Center
Corbin, KY 40701
606-523-5900 or 800-395-4435
Note:  Please contact program for specifics regarding insurances accepted and services provided.
 
Recovery Works-Georgetown
3107 Cincinnati Road
Georgetown, KY  42701
502-570-9313
Note:  Please contact program for specifics regarding insurances accepted and services provided.
 
Recovery Works-Elizabethtown
100 Diecks Drive
Elizabethtown, KY  42701
888-982-1244
Note:  Please contact program for specifics regarding insurances accepted and services provided.
  
Recovery Works-Mayfield
4747 Old Dublin Road
Mayfield, KY  42066
270-623-8500
Note:  Please contact program for specifics regarding insurances accepted and services provided.
