<h1>Twelve Step Programs</h1>

<h3><strong>Alcoholics Anonymous</strong></h3>
<p>http://www.aa.org/pages/en_US/find-aa-resources<br>
Note:  To find a meeting anywhere in Kentucky</p>

<h3><strong>Bluegrass Intergroup</strong></h3>
<p>Lexington, KY<br>
Phone/FAX: <a href="tel:8592551212">(859)225-1212</a><br>
www.bluegrassintergroup.org</p>

<h3><strong>Bowling Green Central Office</strong></h3>
<p>Bowling Green, KY<br>
Main: <a href="tel:2707825267">(270)782-5267</a></p>

<h3><strong>Northern Kentucky Central Office</strong></h3>
<p>Covington, KY<br>
Main: <a href="tel:8594917181">(859)491-7181</a><br>
www.home.fuse.net/nkyaa</p>

<h3><strong>Western Kentucky Intergroup</strong></h3>
<p>Gilbertsville, KY<br>
Toll Free: <a href="tel:8006066047">(800)606-6047</a><br>
Main: <a href="tel:2703627141">(270)362-7141</a></p>

<h3><strong>Greater Louisville Intergroup, Inc.</strong></h3>
<p>Louisville, KY<br>
Main: <a href="tel:5025821849">(502)582-1849</a><br>
www.louisvilleaa.org</p>

<h3><strong>Intergroup 17</strong></h3>
<p>Owensboro, KY<br>
Main: <a href="tel:2706830371">(270)683-0371</a></p>

<h3><strong>Narcotics Anonymous</strong></h3>
<p>https://www.na.org/
Note:  To find a meeting anywhere in Kentucky-Kentuckiana Region<br>
http://www.krscna.org</p>

<h3><strong>Pennyrile Area (Paducah & Hopkinsville)</strong></h3>
<p>http://www.na-pana.org/</p>

<h3><strong>Southern Zonal Forum</strong></h3>
<p>http://www.szfna.org</p>

<h3><strong>Across the River Area (Henderson)</strong></h3>
<p>Phone: <a href="tel:8776425831">877.642-5831</a><br>
http://www.atrana.org/</p>

<h3><strong>South Central Kentucky Area (Bowling Green, Glasgow, Scottsville, </</<p>Franklin)
Phone: <a href="tel:8669012849">866.901-2849</a><br>
http://sckana.net</p>

<h3><strong>Louisville Area  </strong></h3>
<p>Phone: <a href="tel:5024994423">502.499-4423</a><br>
http://nalouisville.org/</p>
 
<h3><strong>Grassroots Area (Campton, Inez, Salyersville)</strong></h3>
<p>Phone: <a href="tel:8553198869">855.319-8869</a><br>
http://www.grassrootsna.org</p>
 
<h3><strong>Bluegrass-Appalachian Region (Central Kentucky)</strong></h3>
<p>Phone: <a href="tel:8592534673">859.253-4673</a><br>
http://www.barcna.com</p>
 
<h3><strong>Kentucky Survivors Area (Lexington)</strong></h3>
<p>Phone: <a href="tel:8592534673">859.253-4673</a><br>
http://www.kentuckysurvivors.com</p>
