<h4 class="modal-title" id="twelveStepLabel">TWELVE STEP PROGRAMS</span></h4>
</div>
<div class="modal-body">
<h3><strong>Alcoholics Anonymous</strong></h3>
<p>To find a meeting anywhere in Kentucky:
<a href="http://www.aa.org/pages/en_US/find-aa-resources">http://www.aa.org</a></p>

<h3><strong>Bluegrass Intergroup</strong></h3>
<p>Lexington, KY<br>
Phone/FAX: <a href="tel:8592551212">859-225-1212</a><br>
<a href="www.bluegrassintergroup.org">www.bluegrassintergroup.org</a></p>

<h3><strong>Bowling Green Central Office</strong></h3>
<p>Bowling Green, KY<br>
Main: <a href="tel:2707825267">270-782-5267</a></p>

<h3><strong>Northern Kentucky Central Office</strong></h3>
<p>Covington, KY<br>
Main: <a href="tel:8594917181">859-491-7181</a><br>
<a href="www.home.fuse.net/nkyaa">www.home.fuse.net/nkyaa</a></p>

<h3><strong>Western Kentucky Intergroup</strong></h3>
<p>Gilbertsville, KY<br>
Toll Free: <a href="tel:8006066047">800-606-6047</a><br>
Main: <a href="tel:2703627141">270-362-7141</a></p>

<h3><strong>Greater Louisville Intergroup, Inc.</strong></h3>
<p>Louisville, KY<br>
Main: <a href="tel:5025821849">502-582-1849</a><br>
<a href="www.louisvilleaa.org">www.louisvilleaa.org</a></p>

<h3><strong>Intergroup 17</strong></h3>
<p>Owensboro, KY<br>
Main: <a href="tel:2706830371">270-683-0371</a></p>

<h3><strong>Narcotics Anonymous</strong></h3>
<p><a href="https://www.na.org/">https://www.na.org/</a><br><br>
To find a meeting anywhere in Kentucky-Kentuckiana Region:<br>
<a href="http://www.krscna.org">http://www.krscna.org</a></p>

<h3><strong>Pennyrile Area (Paducah & Hopkinsville)</strong></h3>
<p><a href="http://www.na-pana.org">http://www.na-pana.org</a></p>

<h3><strong>Southern Zonal Forum</strong></h3>
<p><a href="http://www.szfna.org">http://www.szfna.org</a></p>

<h3><strong>Across the River Area (Henderson)</strong></h3>
<p>Phone: <a href="tel:8776425831">877-642-5831</a><br>
<a href="">http://www.atrana.org/</a></p>

<h3><strong>South Central Kentucky Area (Bowling Green, Glasgow, Scottsville, Franklin)</strong></h3>
<p>Phone: <a href="tel:8669012849">866-901-2849</a><br>
<a href="http://sckana.net">http://sckana.net</a></p>

<h3><strong>Louisville Area  </strong></h3>
<p>Phone: <a href="tel:5024994423">502-499-4423</a><br>
<a href="http://nalouisville.org/">http://nalouisville.org/</a></p>

<h3><strong>Grassroots Area (Campton, Inez, Salyersville)</strong></h3>
<p>Phone: <a href="tel:8553198869">855-319-8869</a><br>
<a href="http://www.grassrootsna.org">http://www.grassrootsna.org</a></p>

<h3><strong>Bluegrass-Appalachian Region (Central Kentucky)</strong></h3>
<p>Phone: <a href="tel:8592534673">859-253-4673</a><br>
<a href="http://www.barcna.com">http://www.barcna.com</a></p>

<h3><strong>Kentucky Survivors Area (Lexington)</strong></h3>
<p>Phone: <a href="tel:8592534673">859-253-4673</a><br>
<a href="http://www.kentuckysurvivors.com">http://www.kentuckysurvivors.com</a></p>
