<h1>Welcome to Get Help Kentucky</h1>

<p>Get Help Kentucky is an on-line resource for people seeking <strong>facilities and services</strong> for:</p>

<ul>
<li>substance abuse</li>
<li>chemical dependency</li>
<li>addiction treatment&nbsp;</li>
</ul>

<div class="well">
<h4>
  Do you or someone you know need to access substance abuse treatment services?
</h4>
<div>
  <button class="js-next-prev btn btn-default" data-next-facet-offset="0">
    Yes
  </button>
  <button class="btn btn-default js-no-treatment">
    No
  </button>
</div>
</div>

<p><a data-toggle="collapse" href="#disclaimer" aria-expanded="false" aria-controls="disclaimer">
How to use Get Help Kentucky
</a></p>
<div class="collapse" id="disclaimer">
  <p>Get Help Kentucky is a tool to help you find a substance abuse treatment program for yourself or others. It's an informational tool ONLY. <strong>If you are experiencing a medical emergency, please call <a href="tel:911">911.</a></strong></p>

  <p>Please remember that it is:</p>

  <ul>
  <li>NOT a diagnostic tool</li>
  <li>NOT an assessment tool</li>
  <li>NOT a substitute for substance abuse treatment services</li>
  </ul>
</div>

<p><a data-toggle="collapse" href="#accuracy" aria-expanded="false" aria-controls="accuracy">
Accuracy of program details</a></p>
<div class="collapse" id="accuracy">
  <p>To keep our information current, we verify program details once a year. But <strong>please verify treatment details with the program before making any treatment decisions</strong>.</p>

  <p>If you find any program details here that are incorrect, please let us know. If a program lets us know that their details have changed, we will update Get Help Kentucky within a week.</p>
</div>

<p><a data-toggle="collapse" href="#glossary" aria-expanded="false" aria-controls="glossary">Types of treatment</a></p>
<div class="collapse" id="glossary">
  <p>There are many types of substance abuse treatment available</p>

  <p><strong>Outpatient Counseling</strong></p>

  <p>Outpatient counseling typically occurs in conjunction with other types of treatment or as follow-up support. Outpatient counseling can help you identify the root causes of your drug use, repair your relationships, and learn healthier coping skills.</p>

  <p><strong>Intensive outpatient program (IOP)</strong></p>

  <p>Intensive outpatient programs typically meet 3-5 days a week for 2-4 hours a day or more. Relapse prevention is often a major focus of IOP. Typically outpatient programs are often scheduled around work or school.</p>

  <p><strong>Partial hospitalization</strong></p>

  <p>Partial hospitalization is for people who require ongoing medical monitoring but have a stable living situation. These treatment programs usually meet at the hospital for 3-5 days a week, 4-6 hours per day.</p>

  <p><strong>Residential treatment</strong></p>

  <p>Residential treatment involves living at a treatment facility while undergoing intensive treatment.</p>
</div>
