<h1>Welcome to Get Help Lex</h1>

<p>Get Help Lex is an on-line resource for people seeking <strong>facilities and services</strong> for substance use disorder (substance abuse/addiction) in or around Lexington, Kentucky.</p>

<div class="well">
<h4>
  Do you or someone you know need to access substance abuse treatment services?
</h4>
<div>
  <button class="js-next-prev btn btn-default" data-next-facet-offset="0">
    Yes
  </button>
  <button class="btn btn-default js-no-treatment">
    I Don't Know
  </button>
</div>
</div>

<p><a data-toggle="collapse" href="#disclaimer" aria-expanded="false" aria-controls="disclaimer">
How to use Get Help Lex
</a></p>
<div class="collapse in" id="disclaimer">
  <p>Get Help Lex is a tool to help you find a substance abuse treatment program for yourself or others. It's an informational tool ONLY. <strong>If you are experiencing a medical emergency, please call <a href="tel:911">911.</a></strong></p>

  <p>Please remember that it is:</p>

  <ul>
    <li>NOT a diagnostic tool</li>
    <li>NOT an assessment tool</li>
    <li>NOT a substitute for substance use treatment services</li>
  </ul>
</div>

<p><a data-toggle="collapse" href="#accuracy" aria-expanded="false" aria-controls="accuracy">Problems with the Locator?</a></p>
<div class="collapse" id="accuracy">
  <p>
    To keep our information current, we verify program details <em>once a year</em>. But please verify treatment details with the program before making any treatment decisions.
  </p>

  <p>
    Please contact <a href="mailto:gethelplex@lexingtonky.gov?subject=Get Help Lex Feedback">gethelplex@lexingtonky.gov</a> to report troubleshooting problems with the locator. Please note, this email address is not always monitored and should be used ONLY to report information that needs to be updated and/or revised on the website.
  </p>

  <p>DO NOT send treatment, assessment or referral questions to this email address.</p>
</div>

<p><a data-toggle="collapse" href="#glossary" aria-expanded="false" aria-controls="glossary">Types of treatment</a></p>
<div class="collapse" id="glossary">
  <p>There are many types of substance abuse treatment available</p>

  <dl>
    <dt>Outpatient counseling</dt>
    <dd class="treatment-definition">Outpatient counseling typically occurs in conjunction with other types of treatment or as follow-up support. Outpatient counseling can help you identify the root causes of your drug use, repair your relationships, and learn healthier coping skills.</dd>

    <dt>Intensive outpatient program (IOP)</dt>
    <dd class="treatment-definition">Intensive outpatient programs typically meet 3-5 days a week for 2-4 hours a day or more. Relapse prevention is often a major focus of IOP. Typically outpatient programs are often scheduled around work or school.</dt>

    <dt>Residential treatment</dt>
    <dd class="treatment-definition">Residential treatment involves living at a treatment facility while undergoing intensive treatment.</dt>
  </dl>
</div>

<p><a data-toggle="collapse" href="#legal-disclaimer" aria-expanded="false" aria-controls="legal-disclaimer">Legal disclaimer</a></p>
<div class="collapse" id="legal-disclaimer">
  LFUCG Office of Substance Abuse and Violence Intervention (SAVI) voluntarily provides the data on this website as a service to the public.  While SAVI attempts to keep the web information accurate and timely, this information is made available on an “as-is” basis. Please report any revisions or corrections to <a href="mailto:gethelplex@lexingtonky.gov">gethelplex@lexingtonky.gov</a>. LFUCG SAVI explicitly disclaims any representations and warranties, including but not limited to, sponsoring and/or guaranteeing the services provided by any agency or service provider on this website. If you are experiencing a medical emergency or suicidal, please call <a href="tel:911">911.</a>
</div>
