/* Styles for each individual property, as defined in config.json */

.feature-PhoneNumber {
  font-style: italic;
}
.feature-Address {
  font-style: italic;
}
.feature-Address a { /* directions */
  font-style: normal;
}
.feature-AutoLabel {
  font-weight: bold;
  font-size: 20px;
}
