@import url("../lib/bootstrap.min.css");
@import url("../lib/leaflet/leaflet.css");

/* custom css for leaflet popups */
/* each item in your geojson properties object and config.json
   will be added in a div with id="key" and the text as the "value" field */

@import url("properties.css");

html { height: 100%;}
body { height: 100%; margin: 0; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; }
body > div.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  margin: 0;
  padding: 0;
}

.navbar-default {
  background: #e5e5e5; /*This should be the brand primary color*/
  border-bottom: 2px solid #69579c; /*This should be the brand accent color*/
  /*box-shadow: 0 0 15px rgba(0,0,0,0.2);*/
  height:50px;
}

.navbar .navbar-header{
  margin-top:8px;
}
.navbar img {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.navbar .navbar-brand{
  float:none;
  vertical-align: middle;
  font-weight: 300;
  font-size: 27px;
  color: #69579c;
}

.navbar-form .btn {
  border:none;
  outline:none;
  background-color: #69579c; /*This should be the brand accent color*/
  color: #fff;
  font-weight: 400;
  vertical-align: middle;
}
.navbar-form .btn:hover{
  box-shadow: none;
  outline:none;
  border:none;
  background-color: #4F4175; /*This should be a 25% darken of the brand accent color*/
}
.navbar-form .btn:active{
  box-shadow: none;
  outline:none;
  border:none;
  background-color: #342B4E; /*This should be a 50% darken of the brand accent color*/
}

#map {
  position:fixed;
  left: 300px;
  top: 0;
  bottom: 0;
  right:0;
  z-index: 1;
}

.control {
    z-index: 2;
    font: 14px/16px;
    background: #f3f3f3;
    display: none;
}

.control h4 {
    margin: 10px 0 5px 0;
    color: #777;
}

/* only center the search in the big view */
@media (min-width: 768px) {
  #search {
    /*text-align: center;*/
    float: none !important;
  }

  #search .form-group {
    display: inline;
  }

  #search input {
    width: 30%;
  }
  #search input:focus{
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.15);
    border: 1px solid #69579c; /*This should be the brand accent color*/
    color: #333;
  }
}

#info {
    position: absolute;
    border: 1px solid #AFAFAF;
    padding: 10px 14px;
    height: auto;
    width:275px;
    top: 15px;
    right: 15px;
    overflow-y: auto;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    border-radius: 5px;
}


#facets {
  position: absolute;
  padding: 10px 14px;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  border-right: 1px solid #AFAFAF;
  overflow-y: auto;
}

#facets .checkbox.selected label {
  font-weight: bold;
}

#about .modal-footer img {
  height: 2.5em;
  float: left;
}