@import url("../lib/bootstrap.min.css");
@import url("../lib/leaflet/leaflet.css");
@import url("../lib/leaflet/L.Control.Locate.css");
@import url("../lib/leaflet.markercluster/MarkerCluster.css");
@import url("../lib/leaflet.markercluster/MarkerCluster.Default.css");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body > div.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: #f3f3f3;
}

.left-column, .right-column {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left-column {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.right-column {
  border-left: 1px solid #aaa;
}

.navbar {
  background: #e5e5e5; /*This should be the brand primary color*/
  border-bottom: 2px solid #25AAE1; /*This should be the brand accent color*/
  margin-bottom: 0;
}

.navbar .navbar-header {
  margin-top: 13px;
  margin-left: 0;
}

.navbar .navbar-header .navbar-toggle {
  margin-top: 0px;
}

.navbar .navbar-brand {
  float: none;
  vertical-align: middle;
  font-weight: 300;
  font-size: 27px;
  color: #25AAE1;
}

/* Extra top padding for nav menu - Not Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #finda-navbar-collapse {
    padding-top: 4px;
  }
}

/* Extra bottom margin for nav menu - Small devices (phones, 768px and lower) */
@media (max-width: 767px) { 
  #finda-navbar-collapse {
    margin-bottom: 30px;
  }
}

.navbar-form .btn {
  border: none;
  outline: none;
  background-color: #25AAE1; /*This should be the brand accent color*/
  color: #fff;
  font-weight: 400;
  vertical-align: middle;
}

.navbar-form .btn:hover {
  box-shadow: none;
  outline: none;
  border: none;
  background-color: #4F4175; /*This should be a 25% darken of the brand accent color*/
}

.navbar-form .btn:active {
  box-shadow: none;
  outline: none;
  border: none;
  background-color: #342B4E; /*This should be a 50% darken of the brand accent color*/
}

.js-offer-results {
  padding-left: 1em;
}

#search-results {
  left: 142px;
}

#search-results .help {
  padding: 3px 20px;
}

#search-results .suggested {
  border-top: 1px solid #eee;
  color: #ccc;
  padding: 6px 20px 3px;
  margin-bottom: 0;
}

#search-results ul {
  padding: 0
}

#search-results li {
  padding: 3px 20px;
  cursor: pointer;
  list-style: none;
}

#map {
  z-index: 1;
}

.control {
  z-index: 2;
  font: 14px/16px;
  background: #fff;
  display: none;
}

.leaflet-control-locate {
  border: 1px solid rgba(0,0,0,0.4)
}

.leaflet-control-locate a {
  background-color: #fff;
  background-position: -3px, -2px;
}

.leaflet-control-locate.active a {
  background-position: -33px -2px
}

.control h4 {
  margin: 10px 0;
  color: #777;
}

.search-result-marker {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #69579c; /*This should be the brand accent color*/
}

#info {
  position: absolute;
  border: 1px solid #AFAFAF;
  padding: 10px 14px;
  height: auto;
  width: 275px;
  top: 15px;
  right: 15px;
  overflow-y: auto;
  box-shadow: 0 3px 5px rgba(0,0,0,.25);
  border-radius: 5px;
}

.control-sidebar {
  float: left;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#finda-tabs {
  margin-top: 10px;
}

.tab-content {
  height: 100%;
  display: flex;
}

#facets {
  padding: 20px;
}

#facets .checkbox.selected label {
  font-weight: bold
}

#facets form.facet-form {
  display: inline-block;
}

#facets .clear-facets {
  display: inline-block;
  font-style: italic;
  margin: 10px 0 0 3em;
  vertical-align: top;
}

#facets .clear-facets:hover {
  color: red; /* TODO: red is probably a horrible color. suggestions? */;;
  cursor: pointer;
}

#listTab.active {
  display: flex;
  flex-direction: column;
}

#listTab .list-filters {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.list-filters .btn-print {
  height: 100%;
  margin-left: 10px;
}

#list {
  height: 100%;
  overflow-y: scroll;
}

#list .item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

#list ul {
  padding-bottom: 20px;
  padding-left: 0;
}

#list ul ul {
  margin: 0 0 0 3em;
  padding-bottom: 0;
}

#list ul li.item > div > div h4 {
  margin: 0 0 5px 0;
  color: #666;
  font-weight: 600;
  font-size: 1em;
}

#list ul li.item > div > div + div {
  border-bottom: 1px solid #dedede;
  padding: 0.5em 0.3em;
  margin-top: 0;
}

#list ul li.item > div > div + div + div {
  border-top: 1px solid #fff;
}

#list ul li.item > div > div:last-child {
  border-bottom: none;
}

#list ul li.item:nth-child(even) {
  background-color: #F1F9FF;
}

#list.control>ul>li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dedede;
  padding: 1em;
  cursor: pointer;
  border-left: 5px solid #fcfcfc;
  list-style: none;
}

#list .feature-gender ul li,
#list .feature-age ul li {
  display: inline;
}

#list .feature-gender ul,
#list .feature-age ul {
  margin-left: 0;
}

#list .feature-gender ul li + li:before,
#list .feature-age ul li + li:before {
  content: "\b7\a0";
}

/* clear the navbar when anchored to in url */
#list .selected-facility {
  margin-top: 50px;
  border-right: 20px solid #69579c;
}

#about .modal-footer img {
  height: 2.5em;
  float: left;
}

#loading h4 {
  text-align: center
}

.control-survey {
  height: 100%;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  overflow-y: auto;
  width: 100%;
}

.control-survey .btn {
  margin-bottom: 5px
}

.survey-tabs {
  margin: auto;
}

.nav-tabs {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #aaa;
}

.nav-tabs.control-tabs>li.active>a {
  background-color: #fff;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.treatment-definition {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grey-font {
  color: #6d6e71;
}

.mainline {
  font-weight: 700 !important;
}

.tagline {
  font-size: 70%;
  font-style: italic;
}

/* proudly borrowed from https://github.com/luckyshot/ga-feedback */
#gaf-button {
  position: fixed;
  bottom: 0;
  right: 1em;
  background: rgba(61, 194, 85, 0.8);
  color: #fff;
  padding: 4px 7px;
  font-size: 1.3em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 999999999;
}

#back-to-top {
  text-decoration: none;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  background: rgba(37, 170, 225, 0.8);
  color: #fff;
  padding: 4px 7px;
  font-size: 1.3em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 999999999;
}

#feedback-form textarea {
  margin-bottom: 20px;
}

.well {
  text-align: center;
}

.welcome-options {
  padding: 0;
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width : 768px) {
  body > div.container {
    flex-direction: column;
  } 
  
  .left-column {
    width: 100%;
  }
  
  .right-column {
    display: none !important;
  }
}

@media print {
  body.modal-open {
    visibility: hidden;
  }

  body.modal-open .modal .modal-header,
  body.modal-open .modal .modal-body {
    visibility: visible;
  }

  body.modal-open .modal .modal-header::before, .list-filters::before {
    content: "Get Help Lex - gethelplex.org \A";
    white-space: pre;
    font-weight: 900;
  }
  
  body > div.container {
    top: 0;
  }
  
  body, .left-column, #info, .control-sidebar, #list, .control-survey {
    overflow: visible !important;
  }
  
  #list {
    width: 100%;
    border: 0;
  }
  
  #list > ul > li {
    border: 0;
    padding: 0; 
    list-style: none !important;
  }
  
  #list ul li.item > div > div + div, #list ul li.item > div > div + div + div {
    border: 0;
  }
  
  .right-column, #map, #finda-tabs, #back-to-top, #gaf-button {
    display: none !important;
  }
  
  #select_county {
    display: none;
  }
  
  .btn-print {
    display: none;
  }
}
