
/* custom css for leaflet popups */
/* each item in your geojson properties object and config.json 
   will be added in a div with id="key" and the text as the "value" field */

#phone_numbers     { font-style: italic; }
#address           { font-style: italic; }
#organization_name { font-weight:bold; }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 300px;
}

.search {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 300px;
}

.info h4 {
    margin: 10px 0 5px 0;
    color: #777;
}
