@import url("../lib/bootstrap.min.css");
@import url("../lib/leaflet/leaflet.css");
@import url("../lib/leaflet/L.Control.Locate.css");
@import url("../lib/leaflet.markercluster/MarkerCluster.css");
@import url("../lib/leaflet.markercluster/MarkerCluster.Default.css");

html { height: 100%;}
body { height: 100%;
       margin: 0;
       font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-weight: 300; }

body > div.container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #e5e5e5; /*This should be the brand primary color*/
  border-bottom: 2px solid #69579c; /*This should be the brand accent color*/
}

.navbar .navbar-header {
  margin-top: 8px;
  margin-left: 0;
}

.navbar .navbar-header .navbar-toggle {
  /* cancel out above margin */
  margin-top: 0;
}

.navbar img {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.navbar .navbar-brand{
  float:none;
  vertical-align: middle;
  font-weight: 300;
  font-size: 27px;
  color: #69579c;
}

.navbar-form {
  width: 80%;
}

.navbar-form .btn {
  border:none;
  outline:none;
  background-color: #69579c; /*This should be the brand accent color*/
  color: #fff;
  font-weight: 400;
  vertical-align: middle;
}
.navbar-form .btn:hover{
  box-shadow: none;
  outline:none;
  border:none;
  background-color: #4F4175; /*This should be a 25% darken of the brand accent color*/
}
.navbar-form .btn:active{
  box-shadow: none;
  outline:none;
  border:none;
  background-color: #342B4E; /*This should be a 50% darken of the brand accent color*/
}

#search-results {
  left: 142px;
}

#search-results .help {
  padding: 3px 20px;
}

#search-results .suggested {
  border-top: 1px solid #eee;
  color: #ccc;
  padding: 6px 20px 3px;
  margin-bottom: 0;
}

#search-results ul {
  padding: 0;
}

#search-results li {
  padding: 3px 20px;
  cursor: pointer;
  list-style: none;
}

#map {
  position:fixed;
  left: 0px;
  top: 50px;
  bottom: 0;
  right:0;
  z-index: -1;
}

.control {
    z-index: 2;
    font: 14px/16px;
    background: #f3f3f3;
    display: none;
}

.leaflet-control-locate {
  border:1px solid rgba(0,0,0,0.4);
}
.leaflet-control-locate a {
  background-color:#fff;
  background-position:-3px, -2px;
}
.leaflet-control-locate.active a {
  background-position:-33px -2px;
}

.control h4 {
    margin: 10px 0 5px 0;
    color: #777;
}

.search-result-marker {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #69579c; /*This should be the brand accent color*/
}

/* only center the search in the big view */
@media (min-width: 768px) {
  #search {
    /*text-align: center;*/
    float: none !important;
  }

  #search .form-group {
    display: inline;
  }

  #search input {
    width: 30%;
  }
  #search input:focus{
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.15);
    border: 1px solid #69579c; /*This should be the brand accent color*/
    color: #333;
  }
}

#info {
    position: absolute;
    border: 1px solid #AFAFAF;
    padding: 10px 14px;
    height: auto;
    width:275px;
    top: 15px;
    right: 15px;
    overflow-y: auto;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    border-radius: 5px;
}






/* ====================
  SIDEBAR
  ==================== */

.sidebar-toggle {
  position: fixed;
  right: 0px;
  bottom: 16px;
  /* weird bottom offset to make space for leaflet credits*/
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.6);
  cursor: pointer;
  display: none;
}

/* Only show sidebar toggle on small screens, since sidebar is default visible on larger */
@media (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }
}

/* CSS hamburger */
.sidebar-toggle a {
  text-align: center;
  display: block;
  position: relative;
  top: 50%;
  width: 25px;
  height: 3px;
  background: #fff;
  margin: -2px auto;
  border-radius: 6px;
}
.sidebar-toggle a:before, .sidebar-toggle a:after {
  content: "";
  width: 25px;
  height: 3px;
  display: block;
  position: relative;
  background: inherit;
  border-radius: 8px;
}
.sidebar-toggle a:before {
  top: -8px;
}
.sidebar-toggle a:after {
  bottom: -5px;
}

/* transform toggle into a X when active */
.sidebar-toggle.active a:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 1px;
}
.sidebar-toggle.active a {
  height: 0px;
}
.sidebar-toggle.active a:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: -2px;
}



/*
  The sidebar container:
    two column large screens,
    single column, tabbed on mid,
    single column, tabbed, and hidden on small
 */
.sidebar {
  height: 100%;
  position: relative;
  background: #f3f3f3;
  transition: all 0.2s;
}
.sidebar.open {
  margin-left: 0;
}


@media (max-width: 1200px) {
  .sidebar {
    width: 33%;
    margin-left: 0%;
    padding-top: 50px;
  }
  .sidebar.no-tabs {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 80%;
    margin-left: -80%;
  }
  .sidebar.open{
    margin-left: 0%;
  }
}

/* The sidebar columns (filter, list, etc) */
.sidebar .control {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  padding: 0 10px;
  display: none;
}

.sidebar-items-2 .control {
  width: 50%;
}
.sidebar-items-1 .control {
  width: 100%;
}

@media (max-width: 1200px) {
.sidebar .control {
    width: 100%;
    float: none;
  }
}


/* sidebar button toggles to show list vs filter, etc */
.sidebar-nav {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;
}

/* Only display this when we have a tabbed view (mid-screen size & lower) */
@media (max-width: 1200px) {
  .sidebar-nav {
    display: initial;
  }
}

.sidebar-nav .items{
  overflow: auto;
  zoom: 1;
  list-style: none;
  padding: 0;
}

.sidebar-nav .items li{
  float: left;
  display: none;
}
.sidebar-items-2 .sidebar-nav .items li{
  width: 50%;
}
.sidebar-items-1 .sidebar-nav .items li{
  width: 100%;
}

  /*buttons*/
.sidebar-nav a{
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
  background-color: #e5e5e5;
}
.sidebar-nav a.active{
  background-color: #f3f3f3;
}


/* map offset should be zero no matter the configuration of the sidebar since sidebar is an overlay*/
body #map {
  left: 0;
}

/* At larger sizes, adjust map to fit sidebar space depending on configuration */
@media (min-width: 768px) {
  .sidebar-items-1 + #map {
    left: 15%;
  }
  .sidebar-items-2 + #map {
    left: 33%;
  }
}
@media (min-width: 1200px) {
  .sidebar-items-1 {
    width: 330px;
  }
  .sidebar-items-2 {
    width: 500px;
  }
 .sidebar-items-1 + #map {
    left: 330px;
  }
  .sidebar-items-2 + #map {
    left: 500px;
  }
}


#facets .checkbox.selected label {
  font-weight: bold;
}

#facets .clear-facets {
  font-style: italic;
  float: right;
  margin: -23px 0 0;
}
#facets .clear-facets:hover {
  color: red; /* TODO: red is probably a horrible color. suggestions? */;
  cursor:pointer;
}

#list ul {
  padding-bottom: 20px;
  padding-left: 0;
}

#list li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dedede;
  padding: 1em;
  cursor: pointer;
  border-left: 5px solid #fcfcfc;
  list-style: none;
}

#about .modal-footer img {
  height: 2.5em;
  float: left;
}

#loading h4 {
  text-align: center;
}
